<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Aspose.PDF" version="21.11.0" targetFramework="net48" />
  <package id="ControlzEx" version="5.0.1" targetFramework="net48" />
  <package id="DiscogsClient" version="2.7.1" targetFramework="net48" />
  <package id="DnsClient" version="1.4.0" targetFramework="net48" />
  <package id="MahApps.Metro" version="2.4.7" targetFramework="net48" />
  <package id="MaterialDesignColors" version="2.0.3" targetFramework="net48" />
  <package id="MaterialDesignThemes" version="4.2.1" targetFramework="net48" />
  <package id="MaterialDesignThemes.MahApps" version="0.1.9" targetFramework="net48" />
  <package id="MaterialDesignXaml.DialogsHelper" version="1.0.3" targetFramework="net48" />
  <package id="MaterialMessageBox" version="4.0.2" targetFramework="net48" />
  <package id="Microsoft.Win32.Registry" version="5.0.0" targetFramework="net48" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.37" targetFramework="net48" />
  <package id="MongoDB.Bson" version="2.13.1" targetFramework="net48" />
  <package id="MongoDB.Driver" version="2.13.1" targetFramework="net48" />
  <package id="MongoDB.Driver.Core" version="2.13.1" targetFramework="net48" />
  <package id="MongoDB.Libmongocrypt" version="1.2.2" targetFramework="net48" />
  <package id="NAudio" version="2.0.1" targetFramework="net48" />
  <package id="NAudio.Asio" version="2.0.0" targetFramework="net48" />
  <package id="NAudio.Core" version="2.0.0" targetFramework="net48" />
  <package id="NAudio.Midi" version="2.0.1" targetFramework="net48" />
  <package id="NAudio.Wasapi" version="2.0.0" targetFramework="net48" />
  <package id="NAudio.WinForms" version="2.0.1" targetFramework="net48" />
  <package id="NAudio.WinMM" version="2.0.1" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net48" />
  <package id="RateLimiter" version="1.1.1" targetFramework="net48" />
  <package id="RestSharp" version="106.3.0" targetFramework="net48" />
  <package id="RestSharpHelper" version="1.1.1" targetFramework="net48" />
  <package id="SharpCompress" version="0.23.0" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.Drawing.Common" version="5.0.2" targetFramework="net48" />
  <package id="System.IO" version="4.3.0" targetFramework="net48" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net48" />
  <package id="System.Reactive" version="4.0.0" targetFramework="net48" />
  <package id="System.Runtime" version="4.3.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="5.0.0" targetFramework="net48" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.AccessControl" version="5.0.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
  <package id="WMPLib" version="1.0.0" targetFramework="net48" developmentDependency="true" />
  <package id="WpfAnimatedGif" version="2.0.0" targetFramework="net48" />
  <package id="Xam.Plugin.SimpleAudioPlayer" version="1.5.0" targetFramework="net48" />
</packages>